name: Build & Push Docker

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: hemal2003
          password: else@1234

      - name: Build image
        run: docker build -t hemal2003/resturent_app:latest .
      - name: Push image
        run: docker push hemal2003/resturent_app:latest

      - name: Trigger Deploy Webhook
        run: |
          curl -X POST https://elight.lk/api/deploy/VeodmBiSjCigZdoLhF_Uj
